@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
  /* primary colors */

  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);

  /* font styles*/

  --ff-heading: 'Poppins', sans-serif;
  --ff-body: 'Open Sans', sans-serif;
  --fw-regular: 400;
  --fw-bold: 600;
}

/* css reset */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

/* general styles */

body {
  background-color: var(--violet);
  background-image: url(./images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100vw;
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  color: white;
}

/* page styles */

.landing-page {
  margin: 2.5rem;
}

header .logo {
  width: 8.5rem;
}

header {
  margin-bottom: 3rem;
}

.illustration {
  display: grid;
  place-content: center;
  margin-bottom: 3rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem;
}

.info h1 {
  font-family: var(--ff-heading);
  font-size: 1.75rem;
  width: 18ch;
  text-align: center;
  margin-bottom: 1rem;
}

.info p {
  text-align: center;
  margin-bottom: 1.5rem;
}

button {
  width: 12rem;
  padding: .75rem;
  border-radius: 1.5rem;
  border: none;
  background-color: white;
  color: var(--violet);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: var(--soft-magenta);
}

footer .socials {
  display: flex;
  place-content: center;
}

.fa-brands {
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0.5rem;
  color: white;
}

.fa-brands:hover {
  border: 1px solid var(--soft-magenta);
  color: var(--soft-magenta);
}

/* media queries for responsive design */

@media (min-width: 576px) {
  .landing-page {
    margin: 3.5rem;
  }

  header .logo {
    width: 11rem;
  }

  .info h1 {
    font-size: 2.5rem;
  }

  .info p {
    padding: 0 2rem;
  }
}

/* media query for tablets */


@media (min-width: 768px) {
  .landing-page {
    margin: 3.5rem;
  }

  header .logo {
    width: 14rem;
  }

  .info h1 {
    font-size: 3.5rem;
  }

  .info p {
    padding: 0 3rem;
  }
}

/* media query for laptops */

@media (min-width: 1024px) {
  header .logo {
    transform: translateX(6rem);
  }

  .info p {
    padding: 0 11rem;
  }
}

/* media query for large laptops / desktops */

@media (min-width: 1200px) {
  body {
    background-image: url(./images/bg-desktop.svg);
    background-size: contain;
    min-height: 100vh;
    background-size: auto;
    overflow: hidden;
    max-width: 1440px;
  }

  header .logo {
    transform: translateX(0rem);
  }

  .landing-page {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    grid-template-areas: 
    "logo ..."
    "illustration main"
    "... footer";
  }

  header {
    grid-area: logo;
    margin-bottom: 5rem;
  }

  header .logo {
    margin-left: 1rem;
    width: 13rem;
  }

  .illustration {
    grid-area: illustration;
    justify-content: left;
    margin: 0;
    margin-top: 0.4rem;
    padding-right: 3rem;
  }

  .illustration img {
    margin-left: 1rem;
  }

  main {
    grid-area: main;
    margin-top: 3.1rem;
  }

  .info {
    display: grid;
    align-items: left;
  }

  .info h1 {
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 1.25rem;
    font-weight: var(--fw-bold);
    margin-left: 0.25rem;
  }

  .info p {
    text-align: left;
    padding: 0 2rem 0 0;
    margin-left: 0.25rem;
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
    line-height: 1.65rem;
  }

  button {
    padding: 1.1rem;
    font-size: 1.2rem;
    border-radius: 2rem;
    margin-left: 0.25rem;
    width: 12.5rem;
  }

  footer {
    display: grid;
    grid-area: footer; 
    justify-content: right;
  }

  .socials {
    font-size: 1.24rem;
    margin-right: 1rem;
    margin-top: 0.75rem;
  }

  .fa-brands {
    padding: 0.6rem;
  }
}

/* media query for anything larger */

@media (min-width: 1441px) {
  html {
    display: grid;
    min-height: 100vh;
    place-content: center;
    background-color: var(--violet);
  }

  body {
    box-shadow: 0 0 10px 1px rgb(0 0 0 / 50%);
    box-shadow: 0 0 10px 1px rgb(0 0 0 / 50%);
  }
}